.modal-content {
    max-width: 500px;
    margin: 0 auto;
}
form {
    margin-bottom: 20px;
}
.kep-login-facebook.metro {
    color: #4c69ba;
    background-color: #ffffff;
    border-radius: 3px!important;
    font-size: 16px;
    padding: 10px;
}

.kep-login-facebook.metro::before {    
    background-image: url(./images/fb.jpg);;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.google {
    text-align: center;
    margin-top: 10px;
}
.google [type=button] {
    color: #28a745!important;
    box-shadow: none!important;
    border: 2px solid #28a745!important;
    font-size: 16px!important;
    padding: 0 22px !important;
}
.facebook,.new {text-align: center;}
.sign {display: block;text-align: center;}